.blogContainer {
  width: 50%;
  float: right;
  .blogSection {
    background-color: rgb(150, 198, 236);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      transform: scale(0.9);
  }
  }
}

@media screen and (min-width: 1024px) {
  .blogContainer {
   width: 20%;
  }
 }
