 <app-add-blog (addBlog)="addBlog($event)"></app-add-blog> 

<!-- Visar alla mina bloggar på startsidan -->
<div class="blogContainer" *ngFor="let blog of blogs" [blog]="blog" routerLink="/blog/{{blog.id}}" >

    <div class="blogSection" >
        <h2>Blog Title:</h2>
        <h3 class="blogTitle" *ngIf="blog.title"> {{blog.title}}</h3>
        <h2>Date:</h2>
        <p class="blogDate" *ngIf="blog.created">{{blog.created}}</p>
      </div>
</div>
<!-- <button (click)="onDelete(blog)" class="deleteBtn">Delete</button> -->

