<div class="postFormContainer">
<form class="postForm" #f="ngForm" (ngSubmit)="onSubmitPost(f)">
    <h2>Add new post</h2>
    <label for="title" class="postLabel">Title: </label>
    <input type="text" name="title" class="postInput" [(ngModel)]="title"
    >
    <label for="content">Content:</label>
    <textarea name="content" cols="30" rows="10" [(ngModel)]="content"></textarea>
 <button type="submit" class="postButton">Add post</button>
</form>
</div>


<!-- <div class="postContainer" *ngIf="blog" routerLink="/blog/{{blog.id}}/post/{{post.id}}">
    <div class="postSection">
      <h2>Post Title:</h2>
      <h3 class="postTitle" *ngIf="post?.title">{{ post.title }}</h3>
      <h2>Post Content:</h2>
      <p class="postContent" *ngIf="post?.content">{{ post.content | limitTo: 9 }}</p>
    </div>
  </div> -->