.blogFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
.blogForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    align-items: center;
    background-color: rgb(210, 222, 226);
    border-radius: 5px;
    width: 30%;
    height: 200px;
    .blogInput {
        padding: 5px;
        border-radius: 25px;
        border: solid black 1px;
        margin: 5px;
    }
    .blogButton {
        padding: 5px;
        border-radius: 25px;
        border: solid black 1px;
        margin: 5px;
        cursor: pointer;
        width: 30%;
    }
}
}

