<!-- Visar alla inlägg innuti blogen -->
<div class="postContainer">
  <div
    class="postSection"
    *ngIf="blog"
    routerLink="/blog/{{ blog.id }}/post/{{ post.id }}"
  >
    <h2>Post Title:</h2>
    <h3 class="postTitle" *ngIf="post?.title">{{ post.title }}</h3>
    <h2>Post Content:</h2>
    <p class="trim-info" *ngIf="post?.content" tooltip="{{ post.content }}">
      {{ post.content }}
    </p>
    <p class="nrOfComments">Comments: {{ post?.comments.length || "0" }}</p>
  </div>
</div>
