/* You can add global styles to this file, and also import other style files */
body {
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
  background-color: #f7f7f7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

